@use "../../styles/global.scss" as *;
.mainContainer {
  @include flex-container(column, center, center, 0px);
  width: 255px;
  height: 320px;
  border-radius: 20px;
  box-shadow: inset;
  background-color: $color--bg-white;
  box-shadow: $shadow--soft;
  &:hover {
    box-shadow: $shadow--soft-M;
  }
}
.mainContainerFaculty {
  @extend .mainContainer;
  height: 270px;
}
.rankContainer {
  width: 100%;
  height: 18%;
  background-color: $color--bg-primary;
  border-radius: 20px 20px 0px 0px;
  @include flex-container(row, center, center, 0px);
  font-size: 26px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: $color--text-lighter;
}
.stream {
  font-size: 32px;
  color: $color--text-3-primary-light;
  font-weight: 530;
  font-family: "Inter", sans-serif;
  margin-top: 10px;
}
.imageContainer {
  margin: 4%;
  width: 121px;
  height: 121px;
  background-color: $color--bg-3-active;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.studentName {
  margin: 1%;
  font-size: 25px;
  font-family: "inter", sans-serif;
  font-weight: 500;
  color: $color--text-3-primary-light;
}
.college {
  margin-top: 2%;
  font-size: 14px;
  font-family: "inter", sans-serif;
  font-weight: 550;
  color: $color--text-3-primary-light;
  margin-bottom: 10px;

}

@include mq("tablet") {
  .mainContainer {
    width: 220px;
    height: 320px;
  }
  .rankContainer {
    font-size: 24px;
  }
  .mainContainerFaculty {
    height: 250px;
  }
  .stream {
    font-size: 28px;
  }
  .studentName {
    font-size: 22px;
  }
  .college {
    font-size: 14px;
  }
}

@include mq("phone-custom") {
  .mainContainer {
    width: 180px;
    height: 250px;
  }
  .rankContainer {
    font-size: 20px;
  }
  .mainContainerFaculty {
    height: 200px;
  }

  .imageContainer {
    width: 90px;
    height: 90px;
  }
  .stream {
    font-size: 22px;
  }
  .studentName {
    font-size: 18px;
  }
  .college {
    font-size: 10px;
  }

}
@include mq("phone") {
  .mainContainer {
    width: 150px;
    height: 200px;
  }
  .rankContainer {
    font-size: 16px;
  }
  .mainContainerFaculty {
    height: 150px;
  }

  .imageContainer {
    width: 70px;
    height: 70px;
  }
  .stream {
    font-size: 20px;
  }
  .studentName {
    font-size: 16px;
  }

}
@include mq("phone-small") {
  .mainContainer {
    width: 140px;
    height: 200px;
  }
  .rankContainer {
    font-size: 16px;
  }
  .mainContainerFaculty {
    height: 140px;
  }

  .imageContainer {
    width: 65px;
    height: 65px;
  }
  .stream {
    font-size: 20px;
  }
  .studentName {
    font-size: 16px;
  }

}
