@use '../../styles/global.scss' as *;

.mainContainer {
  @include flex-container(column, center, center, 15px);
  width: 100%;
  height: 100%;
}

.mainHeader {
  width: 42%;
  color: $color--text-primary;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Space Grotesk', sans-serif;
}

.subHeader {

  color: $color--text-primary-light;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  width: 25%;
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif;
}

.buttonContainer {
  width: 15%;
  text-decoration: none;
}

@include mq('desktop-medium') {
  .mainHeader {
    width: 44%;
    font-size: 44px;
  }
}
@include mq('desktop-small') {
  .mainHeader {
    width: 48%;
  }
  .subHeader {
    width: 35%;
}
.buttonContainer{
  width:20%;
}
}
@include mq('tablet-wide') {
  .mainHeader {
    width: 58%;
    font-size: 40px;
  }
  .subHeader {
    width: 40%;
  }
  .buttonContainer{
    width:24%;
  }
}

@include mq('tablet') {
  .mainHeader {
      width: 64%;
      font-size: 36px;
    }
    .subHeader {
        width: 44%;
        font-size: 13px;
  }
  .buttonContainer{
    width:30%;
  }
}
@include mq('phone-wide') {
  .mainHeader {
    width: 78%;
    font-size: 30px;
  }
  .subHeader{
    width: 60%;
  }
  .buttonContainer{
    width:44%;
  }
}
@include mq('phone-custom') {
  .mainHeader {
    width: 82%;
    font-size: 30px;
  }
  .subHeader{
    width: 62%;
  }
  .buttonContainer{
    width:46%;
  }
}

@include mq('phone') {
  .mainHeader {
    width: 100%;
    font-size: 26px;
    word-break: keep-all;
  }
  .subHeader{
    width: 70%;
    font-size:12px;
    margin-bottom: 14px;
}
.buttonContainer{
    width: 60%;
}
}
