@use '../../../styles/global.scss' as *;

.mainContainer {
  @include flex-container(column, center, center, 0px);
  width: 100%;
}

.ourBatchesCardContainer {
  @include flex-container(row, center, center, 0px);
  width: 100%;
}

.textContainer {
  @include flex-container(column, center, center, 0px);
  width: 80%;
}
.batchesCardContainer {
  @include flex-container(row, center, center, 30px);
  padding: 20px;
  width: 60%;
}

.carousel {
  @include flex-container(row, center, center, 30px);
  width: 100%;
  padding: 1%;
}

@include mq('desktop') {
  .textContainer {
    width: 90%;
  }
}

@include mq('desktop-medium') {
  .batchesCardContainer {
    width: 65%;
  }
}

@include mq('desktop-small') {
  .batchesCardContainer {
    width: 85%;
    transform: scale(0.9);
  }
}

@include mq('tablet-wide') {
  .batchesCardContainer {
    width: 100%;
  }
}
@include mq('tablet-small') {
  .batchesCardContainer {
      height: fit-content;
      transform: scale(1);
      padding: 0px;
      & > :first-child {
        & > :first-child {
        & > * {
            height: fit-content;
          transform: scale(0.9) !important;
        }
      }
    }
  }
  .batchesCardContainer {
    width: 100%;
  }
  .textContainer {
    width: 100%;
    margin-bottom: 20px;
  }
  .carousel {
    padding-top: 1%;
  }
}

@include mq('phone-custom') {
    .batchesCardContainer {
      & > :first-child {
          & > :first-child {
            height: 460px;
          & > * {
            transform: scale(0.8) !important;
          }
        }
      }
    }
}
@include mq('phone') {
    .batchesCardContainer {
      & > :first-child {
        & > :first-child {
            margin-top: -60px;
          & > * {
            transform: scale(0.75) !important;
          }
        }
      }
    }
}
@include mq('phone-small') {
    .batchesCardContainer {
      & > :first-child {
        & > :first-child {
          & > * {
            transform: scale(0.66) !important;
          }
        }
      }
    }
}