@use '../../../styles/global.scss' as * ;

.batchFeatureContainer{
    @include flex-container(column ,flex-start,flex-start,8px);
    width: 400px;
    height: fit-content;
    min-height:80px ;
    background-color: rgb(6, 217, 217);
    padding: 7%;
    border-radius: 20px;
}

.featureHeading{
    font-size: 26px;
    font-weight: 700;
    font-family: 'space Grotesk',sans-serif;
}
.featureDetails{
    font-size: 20px;
    font-family: 'inter-medium',sans-serif;
    font-weight: 500;
}
@include mq('desktop'){
    .batchFeatureContainer{
        width: 380px;
    }
    .featureHeading{
        font-size: 20px;
    }
    .featureDetails{
        font-size: 16px;
    }
}

@include mq('desktop-small'){
    .batchFeatureContainer{
        width: 320px; 
    }
    .featureDetails{
        font-size: 15px;
    }
    .featureHeading{
        font-size: 19px;
    }
}
@include mq('tablet-wide'){
    .batchFeatureContainer{
        width: 280px; 
    }
    .featureHeading{
        font-size: 18px;
    }
}
@include mq('tablet-custom'){
    .batchFeatureContainer{
        width: 340px; 
    }
    .featureDetails{
        font-size: 14px;
    }

}
@include mq('tablet'){
    .batchFeatureContainer{
        width: 260px; 
    }
    .featureDetails{
        font-size: 13px;
    }
    .featureHeading{
        font-size: 16px;
    }
}
@include mq('phone-wide'){
    .batchFeatureContainer{
        width: 230px; 
    }
    .featureDetails{
        font-size: 12px;
    }
    .featureHeading{
        font-size: 15px;
    }
}
@include mq('phone-custom'){
    .batchFeatureContainer{
        width: 190px; 
    }
    .featureDetails{
        font-size: 10px;
    }
    .featureHeading{
        font-size: 14px;
    }
}
@include mq('phone'){
    .batchFeatureContainer{
        width: 160px; 
    }
}