@use '../../../styles/global.scss' as *;

.container {
  @include flex-container(column, center, center, 20px);
  margin: 4% 3%;
}

.innerdis {
  width: 56%;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  color: $color--text-2-primary-light;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
}

.boldDis {
  font-size: 40px;
  font-style: normal;
  color: $color--text-2-primary;
  font-weight: 800;
}
@include mq('desktop-medium') {
  .innerdis {
    width: 60%;
    font-size: 38px;
  }
  .boldDis {
    font-size: 36px;
  }
}
@include mq('desktop-small') {
  .innerdis {
    width: 66%;
    font-size: 36px;
  }
  .boldDis {
    font-size: 34px;
  }
}
@include mq('tablet-wide') {
  .innerdis {
    width: 70%;
    font-size: 32px;
  }
  .boldDis {
    font-size: 34px;
  }
}
@include mq('tablet') {
  .innerdis {
    width: 74%;
    font-size: 30px;
  }
  .boldDis {
    font-size: 28px;
  }
}
@include mq('phone-wide') {
  .innerdis {
    width: 78%;
    font-size: 26px;
  }
  .boldDis {
    font-size: 26px;
  }
}
@include mq('phone-custom') {
  .innerdis {
    width: 82%;
    font-size: 22px;
  }
  .container {
    margin: 0% 3%;
  }
}
@include mq('phone') {
  .innerdis {
    width: 88%;
    font-size: 18px;
  }
  .boldDis {
    font-size: 24px;
  }
}
