@use '../../styles/global.scss' as *;

.mainContainer {
    border-radius: 32px;
    background-color: $color--bg-primary;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    padding: 7px 20px;
}