@use '../../styles/global.scss' as *;

/* FAQComponent.css */
.container {
  width: 90%;
  margin: 14px auto;
  background-color: transparent;
  /* Example color */
  border-radius: 15px;
  overflow: hidden;
  transition: $linear--transition-M;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color:$color--bg-white;
  /* Example color */
}

.question {
  color: $color--text-dark;
  font-weight: bold;
}

.icon {
  color: $color--text-2-primary;
}

.content {
  padding: 10px;
  background-color:$color--bg-white;
  /* Example color */
}

.contentWrapper {
  overflow: hidden;
  transform-origin: top;
}

.answer {
  color: $color--text-3-primary-light;
}

.videoLink {
  color:$color--bg-primary;
  text-decoration: none;
  padding-top: 10px;
  display: block;
}