@use '../../styles/global.scss' as *;

.innerContainerAlt {
  @include flex-container(column, center, center, 12px);
  width: 70%;
  text-align: center;
  z-index: 2;
}
.button {
  @include flex-container(row, flex-start, flex-start, 0px);
  width: 100%;
}
.buttonAlt {
  @include flex-container(row, center, center, 0px);
}

.innerContainer {
  @include flex-container(
    column,
    flex-start,
    flex-start,
    12px
  );
  width: 30%;
  z-index: 2;
}

.button {
  @include flex-container(row,flex-start,flex-start, 0px);
}

.buttonAlt {
  @include flex-container(row, center, center, 0px);
}

.imagecontainer {
  width: 100%;
}

.mainHeading {
  color: $color--text-primary;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

.subHeader {
  color: $color--text-primary-light;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 700;
}

@include mq('desktop-medium') {
  .innerContainer {
    width: 32%;
  }

  .mainHeading {
    font-size: 38px;
  }

  .subHeader {
    font-size: 14px;
  }
}

@include mq('desktop-small') {
  .innerContainer {
    width: 44%;
  }

  .mainHeading {
    font-size: 38px;
  }

  .subHeader {
    font-size: 14px;
  }
}

@include mq('tablet-wide') {
  .innerContainer {
    width: 52%;
  }

  .mainHeading {
    font-size: 30px;
  }

  .subHeader {
    font-size: 14px;
  }
}

@include mq('tablet-custom') {
  .subHeader,
  .mainHeading {
    text-align: center;
  }
}

@include mq('tablet') {
  .innerContainer {
    width: 70%;
  }

  .mainHeading {
    font-size: 32px;
  }

  .subHeader {
    font-size: 12px;
  }

  .innerContainerAlt {
    @include flex-container(column, center, center, 12px);
    width: 80%;

    .button {
      @include flex-container(
        row,
        flex-start,
        flex-start,
        0px
      );
    }

    .buttonAlt {
      @include flex-container(row, center, center, 0px);
    }
  }
}

@include mq('tablet-small') {
  .innerContainer {
    width: 74%;
  }

  .mainHeading {
    font-size: 30px;
  }

  .subHeader {
    font-size: 10px;
  }
}

@include mq('phone-wide') {
  .container {
    @include flex-container(column, 20px);
  }

  .innerContainerAlt {
    width: 100%;
  }

  .innerContainer {
    width: 54%;
    margin: 0;
  }

  .mainHeading {
    text-align: center;
    font-size: 26px;
  }

  .subHeader {
    margin-left: 5%;
  }
}

@include mq('phone-custom') {
  .container {
    @include flex-container(column, 20px);
  }

  .innerContainer {
    width: 60%;
    margin: 0;
  }
}

@include mq('phone') {
  .innerContainer {
    width: 66%;
    margin: 0;
  }

  .container {
    @include flex-container(column, 20px);
  }

  .mainHeading {
    font-size: 22px;
  }
}

@include mq('phone-small') {
  .container {
    @include flex-container(column, 20px);
  }

  .innerContainer {
    width: 80%;
    margin: 0;
  }
}
