@use '../../../../styles/global.scss' as *;

.background {
  position: absolute;
  top: 0px;
  width: 300px;
  height: 100vh;
  background: rgb(255, 255, 255);
  box-shadow: $shadow--subtle;
}

.nav {
  width: fit-content;
}

@include mq('tablet') {
  .background {
    width: 400px;
  }
  .nav {
    width: 210px;
  }
}
@include mq('phone-wide') {
  .background {
    width: 520px;
  }
  .nav {
    width: 50px;
  }
}