@use '../../../styles/global.scss' as *;

.buttonContainer {
  width: max-content;
  box-shadow: $shadow--flat;
  margin-right: 10%;
}


@include mq('tablet') {
  .buttonContainer {
    margin-left: 20%;
  }
}
@include mq('phone-wide') {
  .buttonContainer {
    margin-right: 0%;
  }
}