@use './global.scss' as *;

* {
  @include box-sizing(border-box);
  //
}

.noScroll {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $color--text-dark;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

input::placeholder {
  font-family: 'Inter', sans-serif;
}

@media only screen and (max-width: 600px) {
  input[type='email'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='url'],
  select:focus,
  textarea {
    font-size: 16px !important;
  }
}

// react-date-picker styling
.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: $color--bg-primary !important;
  color: white !important;
  font-weight: 700 !important;

  &:hover {
    background-color: darken(
      $color--bg-primary,
      5%
    ) !important;
  }
}

.react-datepicker__header {
  background-color: $color--bg-primary !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: white !important;
}

.center_item {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.custom-option {
  position: relative;
  cursor: pointer;
  padding: 8px 12px;

  &:hover {
    background-color: $color--bg-primary;
    color: white;
  }
}

.custom-checkbox {
  margin-right: 8px;
}

.react-multi-carousel-courting-item {
  padding: 0 !important;
  padding-right: 30px !important;
  width: fit-content !important;

  @include mq('phone-wide') {
    padding-right: 0px !important;
    width: 100dvw !important;
  }
}
