@use "../../styles/global.scss" as *;

.mainContainer {
  @include flex-container(column, flex-start, center, 50px);
  background-color: $color--bg-main;
  padding: 5% 8%;
}

.TeachersImage {
  margin-top: -50px;
  width: 55%;
  background-position: center;
  background-size: cover;
}

.facultyContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.rankContainer,
.stream {
  display: none;
}

@include mq("desktop-small") {
  .TeachersImage{
    width: 80%;
  }
}
@include mq("tablet-wide") {
  .facultyContainer {
    gap: 20px;
  }
  .TeachersImage{
    width: 80%;
  }
}
@include mq("tablet-custom") {
  .facultyContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .TeachersImage{
    width: 70%;
  }
}

@include mq("tablet-small") {
  .facultyContainer {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .TeachersImage{
    width: 70%;
  }
}

@include mq("phone-wide") {
  .facultyContainer {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .TeachersImage {
    width: 88%;
  }
}
@include mq("phone-small") {
  .facultyContainer {
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
  }

}
.customCardStyle {
  @include mq("tablet") {
    .rankContainer,
    .stream {
      display: block;
    }
  }
}
