@use '../../../../../styles/global.scss' as *;

.ul {
  margin: 0;
  padding: 0;
  position: absolute;
  list-style: none;
  top: 100px;
  right: 0;
  width: 28%;
  z-index: 5;
}

.buttonContainer {
  width: max-content;
  box-shadow: $shadow--flat;
  z-index: 5;
}

@include mq('tablet') {
  .ul {
    width: 50%;
  }
}
@include mq('tablet-small') {
  .ul {
    width: 65%;
  }
}

@include mq('phone-wide') {
  .ul {
    width: 90%;
    height: 100%;
    @include flex-container(
      column,
      flex-start,
      space-between,
      30%
    );
  }
  .buttonContainer {
    @include flex-container(row, center, center, 0px);
    align-self: flex-end;
    width: 55%;
    margin-right: 10%;
  }
}

@include mq('phone-custom') {
  .ul {
    width: 94%;
  }
}

@include mq('phone') {
  .ul {
    width: 92%;
  }
}
