@use '../../styles/global.scss' as *;

.imgcontainer {
  @include flex-container(row, center, center);
//   width: 100%;
//   height: 100%;
  background-color: aqua;
  overflow: hidden;
}

.teachers_image {
  position: absolute;
  z-index: 1;
  right: 0%;
  
}


.bg_img {
  position: absolute;
  right: 0; 
}
