@use '../../styles/global.scss' as *;

.imgcontainer {
    width: 50%;
  background-color: aquamarine;
}

.teachers_image {
  position: absolute;
  z-index: 1;
  right: 16%;
}

.bg_img {
  position: absolute;
  right: 12%;
}

@include mq('desktop-medium') {
    .imgcontainer{
        width: 50%;
    }
  
}
