@use '../../styles/global.scss' as *;

.mainContainer {
  @include flex-container(column, center, center, 50px);
  background-color: $color--bg-main;
  padding: 7% 0% 5%;
}

.introductionContainer {
  @include flex-container(row, space-between, center, 0px);
  position: relative;
  width: 80%;
  border-radius: 18px;
  background-color: #E9EEFF !important;

}
  .introductionHeadingContainer {
    @include flex-container(
      column,
      space-between,
      flex-start,
      16px
    );
    margin-left: 5%;
    width: 50%;
    z-index: 2;
  }
  .introductionHeading {
    font-size: 56px;
    font-family: 'space Grotesk';
    font-weight: 800;
  }

  .introductionSubHeading {
    font-size: 18px;
    font-family: 'inter', sans-serif;
    font-weight: 500;
    width: 100%;
  }
  .introductionImage {
    width: 420px;
    height: auto;
    transform: scale(1.4);
    transform-origin: bottom right;
    z-index: 2;
    border-bottom-right-radius: 15px;
  }
  .introductionBgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }
  
  .guidingContainer {
    @include flex-container(
      row,
      space-between,
      flex-start,
      40px
      );
      width: 65%;
    }

  .scholarshipContainer {
    @include flex-container(
      column,
      flex-start,
      flex-start,
      10px
    );
    background-color: $color--bg-5-box;
    padding: 2.2%;
    border-radius: 20px;
  }
  .counselingContainer {
    @include flex-container(
      column,
      flex-start,
      flex-start,
      10px
    );
    padding: 2.2%;
    border-radius: 20px;
    background-color: $color--bg-6-box;
  }

  .guidingHeader {
    font-size: 32px;
    font-weight: 700;
    font-family: 'space Grotesk', sans-serif;
    width: 90%;
  }
  .guidingSubHeader {
    font-size: 20px;
    font-family: 'space Grotesk', sans-serif;
    font-weight: 550;
  }
.button {
  @include flex-container(column, center, center, 0px);
  width: 20%;
}

@include mq('desktop') {
  .introductionImage{
    width: 250px;
  }
  .introductionHeading{
    font-size: 50px;
  }
  .introductionSubHeading{
    font-size: 16px;
  }
  .guidingContainer{
    width: 70%;
  }
}
@include mq('desktop-medium'){
  .introductionImage{
    width: 240px ;
  }
  .introductionHeading{
    font-size: 46px;
  }
  .guidingHeader{
    font-size: 28px;
  }
  .guidingSubHeader{
    font-size: 16px;
  }

}
@include mq('desktop-small'){
  .introductionImage{
    width: 230px;
  }
  .introductionHeading{
    font-size: 40px;
  }
  .introductionSubHeading{
    font-size: 14px;
  }

  .guidingHeader{
    font-size:24px ;
  }
}
@include mq ('tablet-wide'){
  .introductionImage{
    width: 200px;
  }
}
@include mq('tablet-custom-2'){
  .introductionContainer{
    width: 75%;
  }
  .introductionImage{
    width: 160px;
  }
  .introductionHeading{
    font-size:36px;
  }
  .introductionSubHeading{
    font-size: 12px;
  }
  .guidingHeader{
    font-size:22px ;
  }
  .guidingSubHeader{
    font-size: 14px;
  }
}
@include mq('tablet'){
  
  .introductionHeading{
    font-size:30px;
  }
  .introductionSubHeading{
    font-size: 10px;
  }
  .guidingHeader{
    font-size:18px ;
    width: 100%;
  }
  .introductionImage{
    width: 140px;
    transform: scale(1.3);
  }
  .guidingContainer{
    width: 80%;
  }
  .guidingSubHeader{
    font-size: 11px;
  }
}
@include mq('tablet-small'){
  .introductionContainer{
    width: 84%;
  }
  .introductionImage{
    font-size: 130px;
  }
  .introductionHeading{
    font-size:26px;
  }
  .button{
    width: 30%;
  }
}
@include mq('phone-custom'){
  .introductionImage{
    width: 120px;
  }
  .introductionContainer{
    width: 80%;
  }
  .introductionHeadingContainer{
    @include flex-container(column,flex-start,flex-start,4px );
  }
  .introductionHeading{
    font-size:22px;
  }
  .introductionSubHeading{
    font-size: 10px;
  }
  .guidingHeader{
    font-size:14px ;
  }
  .guidingSubHeader{
    font-size: 9px;
  }
  .button{
    width: 50%;
  }
  .guidingContainer{
    width: 80%;
    @include flex-container(
      row,
      space-between,
      flex-start,
      10px
      );
  }
}

@include mq('phone'){
  .introductionContainer{
    width: 84%;
  }
  .introductionHeading{
    font-size: 16px;
  }
.introductionSubHeading{

  font-size:8px ;
}
  .introductionImage{
    width: 110px;
  }

}


