@use '../../styles/global.scss' as *;

.mainContainer {
    @include flex-container(column, flex-start, flex-start, 0px);
    width: 272px;
    margin: 4%;
    padding-left: 0px;
    padding-top: 30px;
    border-radius: 20px;
    background-color: $color--bg-secondary-dark;
    box-shadow:$shadow--soft;
    transition: $linear--transition;

    &:hover {
        transition: $linear--transition;
        box-shadow:$shadow--soft-M;
        cursor: pointer;
    }

    &:active {
        transition: $linear--transition;
        box-shadow:$shadow--soft-M;
    }
}

.textMainContainer {
    @include flex-container(column, flex-start, flex-start, 6px);
    padding-left: 35px;
}

.textContainer {
    @include flex-container(column, flex-start, flex-start, 6px);
}

.studentName, .collegeName {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color:$color--text-lighter;
}

.collegeName {
    font-size: 14px;
}

.img {
    width: 273px;
    height: 273px;
    user-select: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

@include mq('tablet-wide') {
    .mainContainer {
        transform: scale(0.9);
    }
}
@include mq('tablet') {
    .mainContainer {
        transform: scale(0.85);
    }
}
@include mq('phone') {
    .mainContainer {
        transform: scale(0.8);
    }
}