@use '../../../styles/global.scss' as *;

.container {
  @include flex-container(column,flex-start, flex-start);
  margin-top: 3%;
  width: 100%;
}
.innerContainer {
  margin-left: 10%;
  width: 100%;
}

.mainHeading {
  width: 28%;
  color:$color--text-primary;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
}

.quote {
  width: 23%;
  color: $color--text-primary-light;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 700;
}
