@use '../../../styles/global.scss' as *;

.mainContainer {
    @include flex-container(row, center, center, 22px);
    max-height: fit-content;
    max-width: 90vw;
}

.carousel {
  width: 100%;
}

@include mq('desktop-small') {
  .carousel {
    padding-top: 25px;
  }
  .carouselContainer {
    min-width: 80%;
    max-width: 80%;
  }
}
