@use '../../styles/global.scss' as *;

.mainContainer {
  @include flex-container(row,
    space-between,
    center,
    132px);
  width: 100%;
  padding: 32px 8%;
}

.linkContainer {
  @include flex-container(row, center, center, 12px);
  width: 100%;
  height: inherit;
  box-shadow: $shadow--flat;
}

.link {
  width: fit-content;
  text-align: center;
  color: lighten($color--text-dark, 15%);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding: 0px 20px;
  transition: $linear--transition;
  text-decoration: underline;
  text-underline-offset: 1px;
  text-decoration-color: transparent;
  text-decoration-thickness: 1px;

  &:hover {
    transition: $linear--transition;
    color: $color--text-darker;
    text-underline-offset: 4px;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: $color--btn-primary;
  }
}

.logo {
  &:hover {
    cursor: pointer;
  }
}

.buttonContainer {
  width: fit-content;
  box-shadow: $shadow--flat;
}

@include mq('desktop-medium') {
  .mainContainer {
    @include flex-container(row,
      space-between,
      center,
      0px);
  }

  .link {
    font-size: 14px;
  }

  .logo {
    width: 310px;
  }
}

@include mq('desktop-small') {
  .link {
    font-size: 12px;
    padding: 0px 12px;
  }

  .logo {
    width: 310px;
  }
}

@include mq('tablet-wide') {
  .mainContainer {
    width: 90%;
  }
}

@include mq('tablet') {
  .mainContainer {
    width: 100%;
  }
}

@include mq('phone-wide') {
  .mainContainer {
    display: block;
  }
}

@include mq('phone') {
  .mainContainer {
    display: block;
    padding: 32px 0;
  }
  .logo {
    transform: scale(0.8);
  }
}