@use '../../styles/global.scss' as *;

.mainContainer {
  @include flex-container(row,
    space-between,
    center,
    0px);
  width: 100%;
  padding: 16px 8%;
}

.linkContainer {
  @include flex-container(row, center, center, 12px);
  width: 100%;
  height: inherit;
  box-shadow: $shadow--flat;
}


.mainLogo {
  width: 50%;
  height: 100%;

  &:hover {
    cursor: pointer;
  }
}

.mainLogoContainer {
  width: 50%;
}

.buttonContainer {
  width: fit-content;
  box-shadow: $shadow--flat;
}

@include mq('desktop') {
  .mainLogo {
    width: 45%;
  }
  .mainLogoContainer {
    width: 43%;
  }
}
@include mq('desktop-medium') {
  .mainContainer {
    @include flex-container(row,
      space-between,
      center,
      0px);
  }

  .link {
    font-size: 14px;
  }

  .logo {
    width: 310px;
  }
}

@include mq('desktop-small') {
  .link {
    font-size: 12px;
    padding: 0px 12px;
  }

  .logo {
    width: 310px;
  }

  .mainLogoContainer {
    width: 38%;
  }
}

@include mq('tablet-wide') {
  .mainContainer {
    width: 90%;
  }
  .mainLogoContainer {
    width: 60%;
  }
}

@include mq('tablet') {
  .mainContainer {
    width: 95%;
  }
}

@include mq('phone-wide') {
  .mainContainer {
    display: block;
  }
}

@include mq('phone') {
  .mainContainer {
  }

  .logo {
  }
}