@use '../../../styles/global.scss' as *;

.mainContainer {
  @include flex-container(row, center, center, 0px);
  // max-height: fit-content;
  max-width: 80vw;
  margin-left: 16% !important;
}


@include mq('desktop') {
  .mainContainer {
    max-width: 88vw;
    margin-left: 15%;
  }
}

@include mq('desktop-medium') {
  .mainContainer {
    max-width: 95vw;
    margin-left: 15%;
  }
}

@include mq('tablet-custom') {
  .mainContainer {
    max-width: 95vw;
    margin-left: 7%;
  }
}
@include mq('tablet') {
  .testimonialCardContainer{
    transform: scale(0.88);
    margin-top: -18% 0% -12%;
  }
  .mainContainer {
    margin-top: -150px;
  }
}
@include mq('tablet-small') {

  .mainContainer {
    margin-top: -100px;
  }
}
@include mq('phone-wide') {
  .testimonialCardContainer{
    transform: scale(0.8);
  }
  .mainContainer {
    margin-top: -100px;
  }
}
@include mq('phone-custom') {
  .testimonialCardContainer{
    transform: scale(0.75);
  }
}