@use '../../../../../styles/global.scss' as *;

.menuButton {
  outline: none;
  border: none;
  user-select: none;
  cursor: pointer;
  position: absolute;
  right: 5.1%;
  top: 33px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  z-index: 100;
}
