@use '../../styles/global.scss' as *;

.mainContainer {
  @include flex-container(row, flex-start, flex-start, 0px);
  border-radius: 36px;
  background-color: $color--bg-white;
  transition: $linear--transition;
  width: 50%;

  &:hover {
    transition: $linear--transition;
    box-shadow:$shadow--soft-M;
  }

  &:active {
    transition: $linear--transition;
    box-shadow: $shadow--soft-M;
  }

}
.mainContainer:where(:nth-child(1)) {
  background-color: $color--bg-1-active;
  box-shadow:$shadow--soft;
}
.mainContainer:where(:nth-child(1)) {
  &:nth-child(2){
    box-shadow:$shadow--soft;
    background-color:$color--bg-4-active;
  }
}

.mainContainerAlt {
  @extend .mainContainer;
  flex-direction: row-reverse;
}

.textMainContainer {
  @include flex-container(column, center, flex-start, 6px);
  height: 100%;
  padding-left: 45px;
  padding-top: 2%;
  padding-right: 40px;
  padding-bottom: 2%;
}

.textMainContaienrAlt {
  @extend .textMainContainer;
  @include flex-container(column, flex-end, flex-end, 6px);
}

.textContainer {
  @include flex-container(
    column,
    flex-start,
    flex-start,
    6px
  );
}

.textContainerAlt {
  @include flex-container(column, flex-end, flex-end, 6px);
}

.studentName,
.collegeName {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #1A4B02;
}
.studentNameAlt,
.collegeNameAlt {
  @extend .studentName;
  text-align: right;
}

.collegeName {
  font-size: 14px;
}

.collegeNameAlt {
  font-size: 14px;
}

.img {
  width: 200px;
  height: 100%;
  user-select: none;
  border-radius: 32px 0px 0px 32px;
  transform: scale(1.2);
  transform-origin: bottom left;
}

.imgAlt {
  width: 180px;
  height: 150%;
  user-select: none;
  border-radius: 0px 32px 32px 0px;
  transform: scale(1.2);
  transform-origin: bottom right;
}

@include mq('desktop') {
  .mainContainer {
    width: 60%;
  }
}

@include mq('desktop-medium') {
  .mainContainer {
    width: 65%;
  }
}

@include mq('desktop-small') {
  .mainContainer {
    width: 85%;
  }
}

@include mq('tablet-custom') {
  .collegeName,
  .collegeNameAlt {
    font-size: 12px !important;
    font-weight: 500;
  }
}

@include mq('tablet') {
  .mainContainer {
    @include flex-container(column, center, center, 0px);
    width: 80%;
    background-color: $color--bg-white;
  }

  .img,
  .imgAlt {
    width: 100%;
    height: 100%;
    user-select: none;
    border-radius: 10px;
    transform: scale(1);
    transform-origin: bottom left;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
  }
  .textMainContainer {
    padding: 5%;
  }
}

@include mq('phone-custom') {
  .studentName,
  .studentNameAlt {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    font-style: normal;
  }

  .mainContainer {
    @include flex-container(column, center, center, 0px);
    width: 86%;
    background-color: $color--bg-white;
  }
}
