@use '../../styles/global.scss' as *;

.mainContainer {
    @include flex-container(row, flex-start, flex-start, 0px);
    border-radius: 32px;
    background-color: $color--bg-white;
    box-shadow: 2px 2px 20px 2px rgba(0, 28, 59, 0.377);
    transition: $linear--transition;
    width: 50%;

    &:hover {
        transition: $linear--transition;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

    &:active {
        transition: $linear--transition;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.45);
    }
}

.mainContainerAlt {
    @extend .mainContainer;
    flex-direction: row-reverse;
}

.textMainContainer {
    @include flex-container(column, center, flex-start, 6px);
    height: 100%;
    padding-left: 45px;
    padding-top: 2%;
    padding-right: 40px;
    padding-bottom: 2%;
}

.textMainContaienrAlt {
    @extend .textMainContainer;
    @include flex-container(column, flex-end, flex-end, 6px);
}

.textContainer {
    @include flex-container(column, flex-start, flex-start, 6px);
}

.textContainerAlt {
    @include flex-container(column, flex-end, flex-end, 6px);

}

.studentName,
.collegeName {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: $color--text-primary;
}
.studentNameAlt,
.collegeNameAlt {
    @extend .studentName;
    text-align: right;
}

.collegeName {
    font-size: 14px;
}

.collegeNameAlt{
    font-size: 14px;
}

.img {
    width: 180px;
    height: 100%;
    user-select: none;
    border-radius: 32px 0px 0px 32px;
}

.imgAlt {
    width: 180px;
    height: 100%;
    user-select: none;
    border-radius: 0px 32px 32px 0px;
}


@include mq('desktop') {
    .mainContainer {
        width: 60%;
    }
}

@include mq('desktop-medium') {
    .mainContainer {
        width: 65%;
    }
}