@use "../../styles/global.scss" as *;

.mainContainer {
  @include flex-container(column, center, center, 70px);
  background-color: $color--bg-main;
  padding: 5% 0% 5%;
}

.introductionContainer {
  @include flex-container(row, space-between, center, 0px);
  width: 70%;
  border-radius: 18px;
  background-color: $color--bg-1-main-box;
}
.mainHeading {
  font-size: 50px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 1000;
  color: #300544;
}

.introductionImage {
  width: 380px;
  height: auto;
  transform: scale(1.2);
  transform-origin: bottom right;
}
.subHeading {
  font-size: 16px;
  font-family: "inter", sans-serif;
  font-weight: 500;
  width: 80%;
  color: #300544;
}
.headingContainer {
  @include flex-container(column, center, flex-start, 18px);
  margin-left: 5%;
  width: 50%;
}

.facultyContainer {
  @include flex-container(row, space-between, flex-start, 0px);
  width: 70%;
  padding-right: 5%;
}
.facultyHeadingContainer {
  @include flex-container(column, flex-start, flex-start, 10px);
  width: 50%;
}

.facultyHeading {
  font-size: 32px;
  font-family: "inter", sans-serif;
  font-weight: 700;
  width: 70%;
}
.facultySubHeading {
  font-size: 16px;
  font-family: "inter", sans-serif;
  font-weight: 500;
  width: 80%;
}

.facultyImage {
  width: 500px;
}

.inspireContainer {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 65%;
}
.inspireInnerContainer {
  @include flex-container(column, flex-start, flex-start, 16px);
  padding: 5%;
  border-radius: 24px;
  height: fit-content;
  &:nth-child(1) {
    background-color: $color--bg-1-box;
    & > :first-child {
      color: #441005;
    }
    & > :nth-child(2) {
      color: #441005;
      font-size: 16px;
    }
  }
  &:nth-child(2) {
    background-color: $color--bg-2-box;
    & > :first-child {
      color: #052244;
    }
    & > :nth-child(2) {
      color: #052244;
      font-size: 16px;
    }
  }
  &:nth-child(3) {
    background-color: $color--bg-3-box;
    margin-top: -5%;
    & > :first-child {
      color: #052d44;
    }
    & > :nth-child(2) {
      color: #052d44;
      font-size: 16px;
    }
  }
  &:nth-child(4) {
    background-color: $color--bg-4-box;
    margin-top: 1%;
    & > :first-child {
      color: #240544;
    }
    & > :nth-child(2) {
      color: #240544;
      font-size: 16px;
    }
  }
}
.inspireHeading {
  font-size: 32px;
  font-family: "Space Grotesk";
  font-weight: 600;
  width: 90%;
}

.inspireDetails {
  font-size: 18px;
  font-family: "inter", sans-serif;
  font-weight: 500;
}

.button {
  margin: -5%;
}

@include mq("desktop") {
  .introductionImage {
    width: 300px;
  }
  .headingContainer {
    width: 50%;
  }
  .mainHeading {
    font-size: 48px;
  }
  .facultyImage {
    width: 420px;
  }
  .facultyHeadingContainer {
    width: 70%;
  }
  .facultySubHeading {
    width: 90%;
  }
  .inspireContainer {
    width: 74%;
  }
  .inspireHeading {
    width: 100%;
  }
}

@include mq("desktop-medium") {
  .introductionImage {
    width: 270px;
  }
  .headingContainer {
    width: 60%;
  }
  .subHeading {
    font-size: 16px;
  }
  .facultyImage {
    width: 350px;
  }
  .facultyHeading {
    width: 80%;
  }
  .facultySubHeading {
    font-size: 16px;
  }
}

@include mq("desktop-small") {
  .introductionContainer {
    width: 74%;
  }
  .introductionImage {
    width: 240px;
  }
  .mainHeading {
    font-size: 42px;
  }
  .subHeading {
    font-size: 14px;
  }
  .facultyContainer {
    width: 74%;
  }
  .facultyHeading {
    width: 80%;
  }
  .facultySubHeading {
    font-size: 14px;
  }
  .inspireDetails {
    font-size: 16px;
  }
  .inspireHeading {
    font-size: 26px !important;
  }
  .inspireDetails {
    font-size: 14px !important;
  }
}

@include mq("tablet-wide") {
  .introductionImage {
    width: 200px;
  }
  .mainHeading {
    font-size: 34px;
  }
  .subHeading {
    font-size: 12px;
  }
  .facultyImage {
    width: 280px;
  }

  .facultyHeading {
    font-size: 20px;
  }
  .facultySubHeading {
    font-size: 12px;
  }
}

@include mq("tablet-custom") {
  .introductionImage {
    width: 180px;
  }
  .mainHeading {
    font-size: 30px;
  }
  .subHeading {
    font-size: 10px;
  }
  .facultyImage {
    width: 250px;
  }
  .inspireHeading {
    font-size: 20px !important;
  }
  .inspireDetails {
    font-size: 16px !important;
  }
}
@include mq("tablet") {
  .introductionContainer {
    width: 85%;
  }
  .mainHeading {
    font-size: 24px !important;
  }
  .facultyContainer {
    @include flex-container(column, center, center, 20px);
    width: 100%;
    padding: 0%;
  }
  .facultyHeadingContainer {
    @include flex-container(column, center, center, 20px);
    width: 80%;
    text-align: center;
  }
  .facultyHeading {
    font-size: 30px;
  }
  .facultyImage {
    width: 300px;
  }
  .facultySubHeading {
    font-size: 14px;
  }
  .inspireContainer {
    width: 80%;
  }
  .inspireDetails {
    font-size: 14px !important;
  }
}
@include mq("tablet-small") {
  .introductionContainer {
    width: 86%;
  }
  .inspireContainer {
    width: 90%;
  }
}
@include mq("phone-wide") {
  .mainContainer {
    @include flex-container(column, center, center, 50px);
    padding: 10% 0% 7.5%;
  }
  .headingContainer {
    @include flex-container(column, center, flex-start, 10px);
  }
  .mainHeading {
    font-size: 22px !important;
  }
  .subHeading {
    font-size: 12px;
  }
  .facultyImage {
    width: 250px;
  }
  .inspireContainer {
    @include flex-container(column, center, center, 40px);
    width: 64%;
  }
  .inspireInnerContainer {
    padding: 8%;
  }
  .inspireDetails {
    font-size: 12px !important;
  }
}

@include mq("phone-custom") {
  .subHeading {
    font-size: 10px;
  }
  .mainHeading {
    font-size: 16px !important;
  }
  .facultyHeading {
    width: 20px;
    width: 100%;
  }
  .introductionContainer {
    width: 90%;
  }
  .introductionImage {
    width: 140px;
  }
  .facultySubHeading {
    font-size: 12px;
  }
  .facultyImage {
    width: 200px;
  }
  .mainHeading {
    font-size: 20px !important;
  }
  .subHeading {
    font-size: 8px;
  }
  .inspireDetails {
    font-size: 12px !important;
  }
  .inspireContainer {
    width: 70%;
  }
}
@include mq("phone") {
  .facultyHeading {
    width: 16px;
    width: 100%;
  }
  .introductionContainer {
    width: 90%;
  }
  .introductionImage {
    width: 120px;
  }
  .mainHeading {
    font-size: 16px !important;
  }
  .facultySubHeading {
    font-size: 10px;
  }
  .subHeading {
    font-size: 8px !important;
  }
  .inspireDetails {
    font-size: 10px;
  }
  .inspireHeading {
    font-size: 16px !important;
  }
}

@include mq("phone-small") {
  .introductionImage {
    width: 100px;
  }
  .mainHeading {
    font-size: 12px;
  }
  .subHeading {
    width: 100%;
    font-size: 6px;
  }
  .inspireContainer {
    width: 80%;
    gap: 30px;
  }
}
