@use '../../styles/global.scss' as *;

.mainContiner {
  @include flex-container(
    column,
    flex-start,
    flex-start,
    60px
  );
  padding: 6% 16%;
}
.upperElementContainer {
  @include flex-container(row, space-between);
  width: 100%;
}
.footerHeading {
  @include flex-container(
    column,
    flex-start,
    flex-start,
    15px
  );
  .mainLogo {
    width: 60%;
  }
  .logoText {
    width: 60%;
    color: $color--text-primary-light;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 165%;
  }
}
.elements {
  @include flex-container(row);
  gap: 111px;
  & > div {
    &.subElements {
      @include flex-container(
        column,
        center,
        flex-start,
        0px
      );
      color: $color--text-primary-lighter;
      font-family: 'Inter', sans-serif;
      font-size: 12px;
      font-weight: 700;
      gap: 12px;
    }
  }
  .link {
    text-align: start;
    color: $color--text-primary-lighter;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 700;
    transition: $linear--transition;
    text-decoration: underline;
    text-underline-offset: 1px;
    text-decoration-color: transparent;
    text-decoration-thickness: 1px;
    &:hover {
      transition: $linear--transition;
      color: $color--text-darker;
      text-underline-offset: 4px;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.lowerElementContainer {
  @include flex-container(row, space-between, center, 0px);
  width: 100%;
  gap: 230px;
  .policyContainer {
    color: $color--text-primary-lighter;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 700;
    .link {
      text-align: start;
      color: $color--text-primary-lighter;
      text-decoration: none;
      font-family: 'Inter', sans-serif;
      font-size: 12px;
      font-weight: 700;
      transition: $linear--transition;
      text-decoration: underline;
      text-underline-offset: 1px;
      text-decoration-color: transparent;
      text-decoration-thickness: 1px;
      &:hover {
        transition: $linear--transition;
        color: $color--text-darker;
        text-underline-offset: 4px;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.companyName {
  background: linear-gradient((to right, #0029ff, blue));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.socialContainer {
  margin-right: 4%;
  font-size: 12px;
  color: $color--text-primary-lighter;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}
@include mq('desktop') {
  .mainContiner {
    @include flex-container(
      column,
      flex-start,
      flex-start,
      50px
    );
    width: 100%;
    padding: 4% 16.89%;
    gap: 40px;
  }
  .upperElementContainer {
    width: 100%;
    @include flex-container(
      row,
      space-between,
      flex-start,
      0px
    );
    gap: 20px;
  }
  .elements {
    @include flex-container(
      row,
      flex-start,
      flex-start,
      0px
    );
    gap: 70px;
    text-wrap: nowrap;
    text-align: left;
  }
  .lowerElementContainer {
    @include flex-container(
      row,
      flex-start,
      flex-start,
      0px
    );
    gap: 170px;
  }
}

@include mq('desktop-medium') {
  .mainContiner {
    @include flex-container(
      column,
      flex-start,
      flex-start,
      40px
    );
    width: 100%;
    padding: 4% 15%;
    gap: 40px;
  }
  .upperElementContainer {
    width: 100%;
    @include flex-container(
      row,
      space-between,
      flex-start,
      0px
    );
    gap: 40px;
  }
  .elements {
    @include flex-container(
      row,
      space-between,
      flex-start,
      0px
    );
    gap: 70px;
    text-wrap: nowrap;
    text-align: left;
  }
  .lowerElementContainer {
    @include flex-container(
      row,
      space-between,
      flex-start,
      0px
    );
    padding-right: 4%;
  }
}

@include mq('desktop-small') {
  .mainContiner {
    width: 100%;
    padding: 3.5% 11%;
    gap: 35px;
  }
  .lowerElementContainer {
    padding-right: 4%;
  }
}

@include mq('tablet-wide') {

  .footerHeading {
    .logoText,
    .logo {
      width: 90%;
      font-size: 12px;
    }
  }
  
}

@include mq('tablet-custom') {
  .mainContiner {
    width: 100%;
    padding: 3% 8%;
    gap: 30px;
  }
  .upperElementContainer {
    gap: 30px;
    .footerHeading {
      width: 150%;
    }
  }
  .elements {
    gap: 25px;
  }
  .footerHeading {
    .logoText,
    .logo {
      width: 70%;
      font-size: 12px;
    }
  }
}

@include mq('tablet') {
  .mainContiner {
    padding: 4% 8%;
    gap: 25px;
  }

  .elements {
    gap: 20px;
    text-wrap: nowrap;
  }
  .policyContainer,
  .socialContainer {
    font-size: 12px;
  }
  .socialContainer {
    text-wrap: nowrap;
  }
  .footerHeading {
    .logoText {
      width: 80%;
      font-size: 10px;
    }
    .logo {
      width: 100%;
    }
  }
  .link {
    font-size: 9.5px !important;
  }
}

@include mq('tablet-small') {
  .mainContiner {
    padding: 5% 12%;
    gap: 30px;
  }
  .upperElementContainer {
    @include flex-container(
      column,
      space-between,
      flex-start,
      0px
    );
    gap: 30px;
  }
  .elements {
    gap: 50px;
    text-wrap: nowrap;
    text-align: left;
  }
  .lowerElementContainer {
    @include flex-container(
      column,
      space-between,
      flex-start
    );
    gap: 20px;
    .policyContainer,
    .socialContainer {
      font-size: 12px;
    }
  }
  .footerHeading {
    .logoText {
      font-size: 12px;
    }
  }
  .link {
    font-size: 12px !important;
  }
}

@include mq('phone-custom') {
  .elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-wrap: nowrap;
  }
  .lowerElementContainer {
    .policyContainer,
    .socialContainer {
      font-size: 12px;
    }
  }
  .footerHeading {
    .logoText {
      width: 60%;
      font-size: 12px;
    }
  }
  .link {
    font-size: 12px !important;
  }
}
